
body {
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 28px;
  background-color: #f8f8f8;
  user-select: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}
